<a href="#/releases">< Back to Releases</a>
<h1>{{title}}</h1>
{{#with release}}
  <form action='{{endpoint}}' method="post">
      <div class="form-group">
          <label for="Filename">
              Build file (zip files uploaded to /builds directory)
              <a href='#/files'>Manage Files</a>
          </label>
          <select name='FileId' class='form-control'>
              {{releaseId=FileId}}
              {{#each files}}
                  <option value='{{Id}}' {{#if eq $releaseId .Id}}selected='selected'{{end}}>{{Name}}</option>
              {{/each}}
          </select>
      </div>
      <input type='hidden' name='Id' value='{{Id}}'>
      <div class="form-group">
          <label for="Channel">Channel</label>
          <select name='Channel' class='form-control'>
              <option value='NIGHTLY' {{#if .ChannelNightly}}selected='selected'{{/if}}>NIGHTLY</option>
              <option value='SNAPSHOT'{{#if .ChannelSnapshot}}selected='selected'{{/if}}>SNAPSHOT</option>
          </select>
      </div>
      <div class="form-group">
          <label for="Changelog">Release notes</label>
          <textarea rows='10' cols='50' name='Changelog' class='form-control'>{{Changelog}}</textarea>
      </div>
      {{nd}}
      <button type="submit" class="btn btn-default">Save</button>
  </form>
{{/with}}
